.bold {
  font-weight: bold;
}

.logo {
  width: 50px;
}

.name-asso {
  font-size: 15px;
  padding-right: 158px;
}

.video-container {
  position: relative;
}

.video {
  max-width: 100%;
  height: auto;
}

.video-text {
  position: absolute;
  top: 83px;
  left: 13px;
  color: aliceblue;
}

.text-ecosystem {
  background-color: rgb(222, 166, 111, 0.2);
}
