.bold {
  font-weight: bold;
}

.logo {
  width: 50px;
}

.name-asso {
  font-size: 15px;
  width: 100%;
}

.video-container {
  position: relative;
}

.video {
  max-width: 100%;
  height: auto;
}

.video-text {
  position: absolute;
  top: 39%;
  left: 13px;
  color: aliceblue;
}

.text-ecosystem {
  background-color: rgb(222, 166, 111, 0.2);
}

.box-percent {
  background-color: #cfcccc;
}

.box-percent:nth-child(2) {
  margin-top: 16px;
  margin-bottom: 16px;
}

.color-text-2050 {
  color: #00455c;
}

.contact-button {
  background-color: #ffa800;
  border: none;
}

.contact-box {
  font-size: x-small;
}

.footer-color {
  background-color: #d9d9d9;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .video-text {
    font-size: x-large;
    background-color: #0000001f;
    left: 0;
    padding: 0 13px;
    border-radius: 8px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .name-asso {
    width: auto;
  }

  .navbar-collapse {
    justify-content: end;
  }

  .box-percent-container {
    display: flex;
    align-items: baseline;
    margin-top: 0;
  }

  .box-percent-color {
    margin: 10px;
    padding: 25px;
  }

  .box-percent:nth-child(2) {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
  }
}
