.bold {
  font-weight: bold;
}

.logo {
  width: 50px;
}

.name-asso {
  font-size: 15px;
  padding-right: 158px;
}

.color-bright-gray {
  background-color: #efefef;
}

.quote {
  border-left: 2px solid;
  border-color: #ffc825;
}

.box-data {
  background-color: #ffc825;
  height: 230px;
}

.contact-button {
  background-color: #ffa800;
  border: none;
}

.footer-color {
  background-color: #d9d9d9;
}

.box-activities {
  background-color: #faf7f7;
}

.contact-box {
  font-size: x-small;
}
