.bold {
  font-weight: bold;
}

.logo {
  width: 50px;
}

.name-asso {
  font-size: 15px;
  flex: 1;
}

.quote {
  border-left: 2px solid;
  border-color: #ffc825;
  width: 90%;
  max-width: 675px;
  padding: 30px;
  margin: 20px;
  text-align: justify;
}

.container-about-us {
  width: 100%;
  text-align: justify;
}

.box-data {
  background-color: #ffc825;
  border-radius: 3px;
  height: 80%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.box-data-size {
  flex: 1;
  text-align: justify;
}

.container-activities {
  background-color: #00455c;
  border-radius: 3px;
  color: aliceblue;
  padding: 30px;
}

.box-activities {
  background-color: #00455c;
  color: aliceblue;
}

.contact-button {
  background-color: #ffa800;
  border: none;
}

.contact-box {
  font-size: x-small;
}

.footer-container {
  background-color: #d9d9d9;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .quote {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .name-asso {
    width: auto;
    font-size: larger;
  }

  .navbar-collapse {
    justify-content: end;
  }

  .box-activities {
    padding: 30px;
  }
}
